/* Add your own custom css to this file. You may wish to use css !important calls to override css from the template css files.----------------------------------------------------------- */
/*mar152018*/
 .crazy_girl{width: 100%;}
 img.img-rounded{width: 100%;}
 .header_video{background: url("templates/sitesassure/images/homepage_gif2.gif");background-repeat: no-repeat;background-size: cover;}
  .banner1{background: url("templates/sitesassure/images/banner1.jpeg");background-repeat: no-repeat;background-size: cover;}
/*end of mar152018*/